<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13A510d</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>DisableTurboBoostBattery</string>
	<key>CFBundleIdentifier</key>
	<string>pk.qwerty12.DisableTurboBoostBattery</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>DisableTurboBoostBattery</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>5A11344j</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>12D75</string>
	<key>DTSDKName</key>
	<string>macosx10.8</string>
	<key>DTXcode</key>
	<string>0500</string>
	<key>DTXcodeBuild</key>
	<string>5A11344j</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>FirstPersonality</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>pk.qwerty12.DisableTurboBoostBattery</string>
			<key>IOClass</key>
			<string>DisableTurboBoostBattery</string>
			<key>IOMatchCategory</key>
			<string>IODefaultMatchCategory</string>
			<key>IONameMatch</key>
			<string>IOPMrootDomain</string>
			<key>IOProviderClass</key>
			<string>IOService</string>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.iokit</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>9.0.0</string>
	</dict>
</dict>
</plist>
